<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <body>
      <h1>哎呀，你走错房间了，这里是404号房间</h1>
      客官请回~
    </body>
    <!-- <script type="text/javascript" src="http://www.qq.com/404/.js" charset="utf-8"></script> -->
  </head>
  <body></body>
</html>
